<%inherit file="../base.html"/>
<%block name="content">

    <div class="king-layout2-main">
        <link href="${STATIC_URL}css/bootstrap.min.css" rel="stylesheet">
        <link href="${STATIC_URL}assets/daterangepicker-2.0.5/daterangepicker.css" rel="stylesheet">
        <link href="${STATIC_URL}assets/clockpicker-0.0.7/bootstrap-clockpicker.min.css" rel="stylesheet">
        <link href="${STATIC_URL}assets/icheck-1.x/skins/square/blue.css" rel="stylesheet">
        <script src="${STATIC_URL}js/jquery-1.10.2.min.js"></script>
        <script src="${STATIC_URL}assets/daterangepicker-2.0.5/moment.min.js"></script>
        <script src="${STATIC_URL}assets/daterangepicker-2.0.5/daterangepicker.js"></script>
        <script src="${STATIC_URL}assets/clockpicker-0.0.7/bootstrap-clockpicker.min.js"></script>
        <script src="${STATIC_URL}assets/icheck-1.x/icheck.min.js"></script>
        <script src="${STATIC_URL}js/csrftoken.js"></script>


        <div class="king-loading" id="loding-img-2" style="display: none;">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_b_36x36.gif" />
        </div>
        <form id="my_form" class="form-horizontal row" method="POST">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-list-all"></span>基本信息</div>
                    <div class="panel-body" style="height: 800px">
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">选择图片：</label>
                            <div class="col-sm-7"><input type="file" name="file" value="select" id="select_pic"></div>
                            <span class="text-danger mt5 fl">*</span>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">日期范围：</label>
                            <div class="col-sm-7"><input type="text" class="form-control daterangepicker_demo" id="daterangepicker_id"></div>
                            <span class="text-dange mt5 fl">*</span>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">时间范围：</label>
                            <div class="col-sm-2" id="clockpicker_start">
                                <input type="text" class="form-control" id="time_start">
                            </div>
                            <div class="col-sm-2" id="clockpicker_end">
                                <input type="text" class="form-control" id="time_end">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descCN" class="col-sm-3 control-label">促销名称：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="descCN" placeholder="">
                            </div>
                            <span class="text-danger mt5 fl">*</span>
                        </div>
                        <div class="form-group">
                            <label for="sortNum" class="col-sm-3 control-label">排序号：</label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" id="sortNum" placeholder="">

                            </div>
                            <span class="text-danger mt5 fl">*</span>
                        </div>

                        <div class="form-group">
                            <label for="wmts" class="col-sm-3 control-label">外卖或堂食：</label>
                            <div class="col-sm-7">
                                <select name="" id="wmts" class="form-control">
                                    <option value="1">外卖</option>
                                    <option value="2">堂食</option>
                                    <option value="1,2">外卖和堂食</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">周几参加活动：</label>
                            <div class="col-sm-7">
                                <div id="day_check" class="checkbox">
                                    <!-- <button type="button" class="king-btn king-default" action="checkAll">选择全部</button> -->
                                    <label class="mr10">
                                        <input id="sunday_check" type="checkbox" value=""> 星期日
                                    </label>
                                    <label class="mr10">
                                        <input id="monday_check" type="checkbox" value=""> 星期一
                                    </label>
                                    <label class="mr10">
                                        <input id="tuesday_check" type="checkbox" value=""> 星期二
                                    </label>
                                    <label class="mr10">
                                        <input id="wednesday_check" type="checkbox" value=""> 星期三
                                    </label>
                                    <label class="mr10">
                                        <input id="thursday_check" type="checkbox" value=""> 星期四
                                    </label>
                                    <label class="mr10">
                                        <input id="friday_check" type="checkbox" value=""> 星期五
                                    </label>
                                    <label class="mr10">
                                        <input id='saturday_check' type="checkbox" value=""> 星期六
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">节假日：</label>
                            <div class="col-sm-7">
                                <div id="holiday" class="radio">
                                    <label class="mr10">
                                        <input type="radio" name="optionsRadios" id="optionsRadiosY" value="" checked="">参加活动
                                    </label>
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadiosN" value="">不参加活动
                                    </label>
                                </div>
                            </div>
                        </div>
##                         <div class="form-group">
##                             <label for="join_or_not" class="col-sm-3 control-label">门店是否参加活动：</label>
##                             <div class="col-sm-7">
##                                 <select name="" id="join_or_not" class="form-control">
##                                     <option value="1">参加活动</option>
##                                     <option value="2">不参加活动</option>
##                                 </select>
##                             </div>
##                         </div>
                        <div class="form-group">
                            <label for="store_ids_textarea" class="col-sm-3 control-label">门店ID（排除）</label>
                            <div class="col-sm-7"><textarea name="" id="store_ids_textarea" style="width: 100%" rows="10"></textarea></div>
                        </div>
##                         <div class="form-group">
##                             <label for="select_btn" class="col-sm-3 control-label"></label>
##                             <div class="col-sm-7"><a href="javascript:void(0)" id="select_btn" class="king-btn king-primary" onclick="tree_check()">确认选择以上门店</a></div>
##                         </div>
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
            ##                     <input type="submit" class="king-btn king-success mr10" id="new_promote" value="提交">
                                <a class="king-btn king-primary" id="new_promote" onclick="new_promote()">提交</a>
                                <input type="reset" class="king-btn king-default" value="取消">
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </form>

    </div>


    <script type="text/javascript">

     // 单个日期和日期范围选择
    var optionSet1 = {
        startDate: moment(),
        endDate: moment(),
        minDate: '01/01/2012',
        maxDate: '12/31/2020',
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今日': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近一个星期': [moment().subtract(6, 'days'), moment()],
            '最近一个月': [moment().subtract(29, 'days'), moment()],
            '这个月': [moment().startOf('month'), moment().endOf('month')],
            '上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-sm btn-primary',
        cancelClass: 'btn-sm',
        format: 'MM/DD/YYYY',
        separator: ' to ',
        locale: {
            applyLabel: '提交',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            weekLabel: '周',
            customRangeLabel: '自定义范围',
            daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: 1
        }
    };
    $('#daterangepicker_id').daterangepicker(optionSet1, function(start, end, label){
        $('#daterangepicker_id span').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
    });

    $('#clockpicker_start,#clockpicker_end').clockpicker();

    $('#day_check,#holiday input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });

    filename = ""
     $('#select_pic').on("change", function () {
         console.log(this.files)
         filename = this.files[0].name;
         console.log(filename)
     })


     // 新建促销
     function new_promote(){
         if(filename.length == 0){
             errorAlert("请选择图片文件");
             return
         }



         datarange = $('#daterangepicker_id').val()
         console.log(datarange)
         time_start = $('#time_start').val()
         time_end = $('#time_end').val()
         console.log(time_start)
         descCN = $('#descCN').val()
         sortNum = $('#sortNum').val()
         wmts = $('#wmts').val()
         sunday_check = $('#sunday_check').parent().hasClass('checked')
         monday_check = $('#monday_check').parent().hasClass('checked')
         tuesday_check = $('#tuesday_check').parent().hasClass('checked')
         wednesday_check =$('#wednesday_check').parent().hasClass('checked')
         thursday_check = $('#thursday_check').parent().hasClass('checked')
         friday_check =$('#friday_check').parent().hasClass('checked')
         saturday_check = $('#saturday_check').parent().hasClass('checked')
         optionsRadiosY = $('#optionsRadiosY').parent().hasClass('checked')
         optionsRadiosN =$('#optionsRadiosN').parent().hasClass('checked')
         not_join_store = $('#store_ids_textarea').val()
         ##  storedata = listenerDemo.selected

         if(not_join_store.length != 0){
             if(!myutils.isArrayItemNo(not_join_store.split(','))){
                 errorAlert("非正常门店ID，门店ID必须是1个或多个6位数字，并且以英文逗号分隔。")
                 return
             }
         }


         $('#loding-img-2').show()
         $('#forbidden_layer').show()
          postdata = {
              pic_name: filename,
              prmt_datarange: datarange,
              prmt_time_start: time_start,
              prmt_time_end: time_end,
              prmt_descCN: descCN,
              prmt_sortNum: sortNum,
              prmt_wmts: wmts,
              join_sunday: sunday_check,
              join_monday: monday_check,
              join_tuesday: tuesday_check,
              join_wednesday: wednesday_check,
              join_thursday: thursday_check,
              join_friday: friday_check,
              join_saturday: saturday_check,
              join_holiday: optionsRadiosY,
              not_join_store: not_join_store,
          }
         submit_url = 'rrrrr'

          $.ajax({
              url: submit_url,
              type: "POST",
              data: postdata,
              dataType: 'json',
               ##  headers: {"X-CSRFtoken":$.cookie("csrftoken")},
              success: function (retdata) {
                  $('#loding-img-2').hide()
                  $('#forbidden_layer').hide()
                  if(retdata.result)
                  {
                      console.log(retdata)
                      window.location.href='${SITE_URL}'
                  }
              },
              error: function (retdata) {
                  alert(retdata)
              }
          })
     }
    </script>
</%block>